.form-control {
    width: 300px;
    position: relative;
  
    
}

.container{
display: flex;
margin: 0;
margin-right: 0;
justify-content: space-between;

}

.form-select {
    width: 100px;
    height: 20px;
}

.link{
    position:relative;
    right: 1050px;

}

.enter {
    margin-top: 100px;
    margin-right: 60px;
}

.img {
    /* overflow:hidden; */
    /* max-width: 50%;
    height: auto; */
    width:300px; transition:width 0.5s ease;
  
  /* width: 500px;
  height: 300px;
  overflow:auto */

}
.mb-3 {
    width: 300px;
}

#exampleInputImg1 {
    margin-right: 40px;

}

.cardText{
display: flex;
justify-content: space-between;

}

.cardText:hover img { width:700px; }

.card {
   align-self: center;
   box-shadow: inset x y blur spread color;
   box-shadow: 3px 3px 3px #777;
}
.conprof{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.inputProf{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* .edit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */