.img {
  width: 18rem;
}

.cardText img:hover {
  /* transform: scale(1.3); */
  max-width: unset;
  width: 22rem;
  transition-duration: 200ms;
  z-index: 10;
}

.card-body {
  z-index: 0;
}

.card {
  box-shadow: inset x y blur spread color;
  box-shadow: 3px 3px 3px #777;
}
