<div class="main-container">
  <div class="help">
    <h1>Помощь</h1>
    <p>`1. Для работы с сайтом необходимо зарегистрироваться. Нажмите кнопку <a href="/home/register">Регистрация</a>`</p>
  </div>
  <div class="login-form">
  <form method="POST" class="login" action="/home">
    <input name="email" type="text" class="form-input" placeholder="Введите почту">
    <input name="password" type="password" class="form-input" placeholder="Введите пароль">
    <button type="submit" class="button-login">Войти</button>
     <p class="message">Еще не зарегестрированы?<a href="/home/register">Зарегестрироваться</a></p>
  </form>
</div>
</div>
