<div class="main-container">
  <div class="help">
    <h1>Помощь</h1>
    <ol>
    <li>Для работы с сайтом необходимо зарегистрироваться. Нажмите кнопку <a href="/home/register">Регистрация</a></li>
    <li>При регистрации необходимо создать Имя пользователя, ввести почту и придумать пароль</li>
    <li>После регистрации Вы перейдете на свою собственную страничку</li>
    <li>Если Вы уже зарегистрированы, введите свою почту и пароль в окошке справа на главной странице</li>
    <li>Вы всегда можете вернуться на главную станицу, нажав на кнопку "Домашняя страница" в шапке сайта</li>
    <li>На своей странице в области "Добавить картинку" Вы можете добавить картинку, нажав кнопку "Ввод"</li>
    <li>На странице постов справа от картинки отображается текст, распознанный с картинки</li>
    <li>Чтобы прослушать распознанный с картинки текст, нажмите на значок микрофона</li>
    <li>При необходимости Вы можете редактировать свой профиль (менять логин, пароль, почту), нажав кнопку "Профиль" в верхней части страницы</li>
    </ol>
  </div>
  <div class="login-form">
  <form method="POST" class="login" action="/home">
    <input name="email" type="text" class="form-input" placeholder="Введите почту">
    <input name="password" type="password" class="form-input" placeholder="Введите пароль">
    <button type="submit" class="button-login">Войти</button>
     <p class="message">Еще не зарегестрированы?<a href="/home/register">Зарегестрироваться</a></p>
  </form>
</div>
</div>
