<script defer src="/js/user.js"></script>
<div class='container'>
  {{!-- <div class='row'>
    <div class="col"> --}}
      <form name='postForm' class='enter'>

        <div class="mb-3">
          <label for="exampleInputImg1" class="form-label">Image</label>
          <input name='img' type="file" class="form-control" id="exampleInputImg1">
        </div>
        <button type="submit" class="btn btn-primary">Ввод</button>
      </form>
    {{!-- </div>
  </div> --}}
  <div class="row" id='allEntries'>
    {{!-- <div class='link'>

      <p>Права пользователя</p>
      <select class="form-select" aria-label="Default select example">
        {{#each status}}
        <option selected>Открыть меню</option>

        <option value="1">{{name}}</option>
        {{/each}}
    </div> --}}
    {{#each entries}}
    <div class="card" style="width: 18rem;">
      <img src="{{image}}" class="card-img-top" alt="image">
      <div class="card-body">
        {{!-- <p class="card-title"> --}}
          {{text}}
          {{!-- </p> --}}
        <audio controls>
          <source src="{{sound}}" type="audio/mp3">
        </audio>
      </div>
    </div>
    {{/each}}


  </div>
</div>
